/*DEVELOPER: Carlos Segarra, IS 117-003, Fall 2022*/
/* Home page Styles */

.home-card{
    border: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    margin: 0 1rem 1rem 0;
    float: inside;
}

@media only screen
and (min-width : 1200px) {
    article {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    body{
        box-sizing: border-box;
    }
    .row:after{
        content: "";
        display: table;
        clear: both;
    }
    .column {
        float: left;
        width: 50%;
        padding-top: 10%;
    }
    .intro {
        justify-content: center;
        display: flex;
        text-align: justify;
        text-justify: inter-word;
        margin: 0;
    }

    .home-card {
        width: 24rem;
        border: none;
        margin: 0 1rem 1rem 0;
    }

}