/* Home page Styles */
article {
    float: left;
    padding: 40px 50px;
    width: 70%;
}
.home-card{
    float:right;
    width: 18rem;
}
.home-card{
    float:right;
    width: 18rem;
}
.home-card img{

}