/* Navigation Bar Styles  */
nav {
    background-color: #93073E;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}
.nav-link {
    color: #FF5627;
}
.nav-link:hover{
    color: #5B1647;
    font-style: italic;
}

/* Form Styles */

form{
    font-family: 'Space Mono', monospace;
}
/* PDF Styles */
embed {
    float: right;   
}

/* Media Queries */
@media only screen
and (min-width : 320px) {
    .navbar{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
