/* Everything Styles*/
* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
.content-containers{
    min-height: calc(100vh - 3.125rem);
}
/* Navigation Bar Styles
    color: #5B1647;
    color: #93073E;
    color: #C90035;
    color: #FF5627;
    color: #FFC400;
 */
nav {
    background-color: #5B1647;
    font-size: 1rem;
}
.nav-link {
    color: #FFC400;
}
.nav-link:hover{
    color: #C90035;
    text-shadow: 0.125rem 0.125rem black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.25rem;
}
.web-logo{
    height: 42px;
    width: auto;
}
.web-logo:hover{
    height: 62px;
    width: auto;
}
div.container-fluid.csnav{
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
/* Media Queries */
@media only screen
and (min-width : 1200px) {
    nav{
        float: left;
    }
    .container-fluid .navbar,
    .navbar-expand-lg .navbar-collapse,
    .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar {
        width: 10%;
        min-height: calc(100vh - 3.125rem);
        align-items: flex-start;
    }
    .navbar-brand {
        margin-left: 0.5em;
        padding-bottom: 0;
    }
}

/* Foot Styles */
footer{
    background-color: #FFC400;
    color: #C90035;
}
footer a{
    color: #FF5627;
    padding: 1rem;
}
footer a:hover{
    color: #5B1647;
    font-weight: bold;
}